@model PagedList.IPagedList<WikiCollege.Models.EF.CONTENT>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section title {
    WIKI COLLEGE
}

<!--Left-->
<div class="detail-left ">
    <div class="left_box">
        <div class="left_box_title">
            <i class="fas fa-file-invoice"></i>
            <a>Tin tức</a>
        </div>
        <div class="list-news list-news-tab active" id="content-tab3067">
            @foreach (var item in Model)
            {
                <a href="/Display/Index/@item.content_ID">
                    <img alt="Tuyển sinh 2020" src="@item.image" width="100" height="100">
                    <b>@item.title</b>
                    <span><i class="far fa-clock"></i> <i>@item.created_date</i></span>
                    <span class="no-display-mobile">@item.desciption</span>
                </a>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
<!--End Left-->






